<p>
  <b>Name:</b>
  <%=h @genre.id %>
  <%=h @genre.name %>
</p>

<p>
  <b>Estimated popularity:</b>
  <%=h @genre.csp %>
</p>

<%= link_to 'Songs', genre_songs_path(@genre) %>
<%= link_to 'Back', genres_path %>
