<h1>Listing songs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Artist</th>
    <th>Genre</th>
    <th>Estimated popularity</th>
  </tr>

<% for song in @songs %>
  <tr>
    <td><%=h song.name %></td>
    <td><%= link_to( h(song.artist.name), song.artist) unless song.artist.nil? %></td>
    <td><%= link_to( h(song.genre.name), song.genre) unless song.genre.nil? %></td>
    <td><%=h song.csp %></td>
    <td><%= link_to 'Show', song %></td>
  </tr>
<% end %>
</table>
<br />

<%= will_paginate @songs %>
