<h1>Listing songs</h1>
<h2>with post-occurrences</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Artist name</th>
  </tr>

<% @songs.each do |song| %>
  <tr>
    <td><%=h song.name %></td>
    <td><%=h song.artist.name %></td>
    <td><%= link_to 'Show', song %></td>
    <td><%= link_to 'Preoccurrences', song_cooccurrences_path(song) %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @songs %>
