<p>
  <b>Artist:</b>
  <%=h @song.artist_id %>
  <%=h @song.artist.name %>
  <%= @player %>
</p>

<p>
  <b>Genre:</b>
  <%=h @song.genre_id %>
  <%=h @song.genre.name %>
</p>

<p>
  <b>Name:</b>
  <%=h @song.name %>
</p>

<p>
  <b>Estimated Popularity:</b>
  <%=h @song.csp %>
</p>

<%= link_to 'Associations', song_associations_path(@song) %>
<%= link_to 'Cooccurrences', song_cooccurrences_path(@song) %>
<%= link_to 'Back', songs_path %>
