<h1>Listing co-occurrences</h1> 
<% unless @first_song.nil? %>
<h2>for <%= @first_song.title %></h2>
<% end%>

<table>
  <tr>
    <% if @first_song.nil? %><th>Song</th><% end %>
    <th>Next song</th>
    <th>D1</th>
    <th>D2</th>
    <th>D3</th>
  </tr>

<% @cooccurrences.each do |cooccurrence| %>
  <tr>
	<% if @first_song.nil? %><td><%= link_to cooccurrence.first_song.title, :controller => "songs", :action => "show", :id =>  cooccurrence.song_id %></td><% end %>
    <td><%=h cooccurrence.next_song.title %></td>
    <td><%=h cooccurrence.d1 %></td>
    <td><%=h cooccurrence.d2 %></td>
    <td><%=h cooccurrence.d3 %></td>
    <td><%= link_to 'Show', cooccurrence %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @cooccurrences %>
