<h1>Listing cooccurrences</h1>

<table>
  <tr>
    <th colspan="2">Song</th>
    <th colspan="2">Next song</th>
    <th>D1</th>
    <th>D2</th>
    <th>D3</th>
  </tr>

<% for cooccurrence in @cooccurrences %>
  <tr>
    <td><%=h cooccurrence.predecessor_id %></td>
    <td><%=h cooccurrence.predecessor.name %></td>
    <td><%=h cooccurrence.successor.id %></td>
    <td><%=h cooccurrence.successor.name %></td>
    <td><%=h cooccurrence.d1 %></td>
    <td><%=h cooccurrence.d2 %></td>
    <td><%=h cooccurrence.d3 %></td>
    <td><%= link_to 'Show', cooccurrence %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @cooccurrences %>
