<p>
  <b>Song:</b>
  <%=h @cooccurrence.first_song.title %>
</p>

<p>
  <b>Next song:</b>
  <%=h @cooccurrence.next_song.title %>
</p>

<p>
  <b>Count:</b>
  <%=h @cooccurrence.d1 %> |
  <%=h @cooccurrence.d2 %> |
  <%=h @cooccurrence.d3 %>
</p>


<%= link_to 'Back', cooccurrences_path %>