<h1>Editing association</h1>

<% form_for(@association) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :cooccurrence %><br />
    <%= f.text_field :cooccurrence %>
  </p>
  <p>
    <%= f.label :parameter %><br />
    <%= f.text_field :parameter %>
  </p>
  <p>
    <%= f.label :degree %><br />
    <%= f.text_field :degree %>
  </p>
  <p>
    <%= f.label :song_to_song %><br />
    <%= f.text_field :song_to_song %>
  </p>
  <p>
    <%= f.label :song_to_artist %><br />
    <%= f.text_field :song_to_artist %>
  </p>
  <p>
    <%= f.label :artist_to_artist %><br />
    <%= f.text_field :artist_to_artist %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @association %> |
<%= link_to 'Back', associations_path %>