<h1>Editing association</h1>

<% form_for(@association) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :song_id %><br />
    <%= f.text_field :song_id %>
  </p>
  <p>
    <%= f.label :next_song_id %><br />
    <%= f.text_field :next_song_id %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @association %> |
<%= link_to 'Back', associations_path %>
