<p>
  <b>Alpha2:</b>
  <%=h @parameter.alpha2 %>
</p>

<p>
  <b>Alpha3:</b>
  <%=h @parameter.alpha3 %>
</p>

<p>
  <b>Beta:</b>
  <%=h @parameter.beta %>
</p>

<p>
  <b>Gamma:</b>
  <%=h @parameter.gamma %>
</p>

<p>
  <b>Phi2:</b>
  <%=h @parameter.phi2 %>
</p>

<p>
  <b>Phi3:</b>
  <%=h @parameter.phi3 %>
</p>


<%= link_to 'Edit', edit_parameter_path(@parameter) %> |
<%= link_to 'Back', parameters_path %>